.todo-items {
    display: flex;
    margin-bottom: 10px;
}

.todo-item {
    width: 200px;
    border: 1px solid black;
    padding: 5px;

    &.done {
        text-decoration: line-through;
    }
}


.todo-group {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Btitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    margin-top: 16px;
}

input {
    width: 250px;
}

.delete-button {
    font-size: 12px;
    margin-left: 8px;
}

.add-button {
    font-size: 16px;
    margin-left: 8px;
    background-color: #6E94E5;
    padding: 4px 15px;
    color: white;
    border: none;
}

.maincontext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}